<ng-container *transloco="let translate">
  <p-card class="lms-edit-form">
    <p-toast></p-toast>
    <p-progressSpinner class="loader" *ngIf="isLoading; else loaded"></p-progressSpinner>
    <ng-template #loaded>
      <div class="p-grid">
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="name" type="text" class="input-style" pInputText [(ngModel)]="group.name">
            <label for="name">{{translate('student-group.name')}}</label>
          </span>
        </div>
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="description" type="text" class="input-style" pInputText [(ngModel)]="group.description">
            <label for="description">{{translate('student-group.description')}}</label>
          </span>
        </div>
        <div class="checkbox">
          <label style="margin: unset; padding-right: 1rem;"
                 for="isFormed">{{translate('student-group.isFormed')}}</label>
          <p-checkbox id="isFormed" [(ngModel)]="group.isFormed" [binary]="true"></p-checkbox>
        </div>
        <div>
          <label for="groupType">{{translate('student-group.groupType')}}</label>
          <p-selectButton id="groupType" [options]="groupTypeForSelect" [(ngModel)]="group.groupType"
                          optionLabel="name" optionValue="code"></p-selectButton>
        </div>
        <div class="p-col-6 col-format">
          <p-multiSelect
            appendTo="body"
            [options]="studentsForSelect"
            [(ngModel)]="selectedStudentUuids"
            [defaultLabel]="translate('student-group.students')"
            optionLabel="name"
            optionValue="code">
          </p-multiSelect>
        </div>
        <div class="p-col-6 col-format">
            <span class="p-float-label display-label">
              <p>{{translate('student-group.startDate')}}</p>
              <p-calendar
                [showButtonBar]="true"
                appendTo="body"
                [(ngModel)]="startDate"
                dateFormat="dd-mm-yy"
                [showIcon]="true">
              </p-calendar>
            </span>
        </div>
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label">
            <p>{{translate('student-group.endDate')}}</p>
            <p-calendar
              [showButtonBar]="true"
              appendTo="body"
              [(ngModel)]="endDate"
              dateFormat="dd-mm-yy"
              [showIcon]="true">
            </p-calendar>
          </span>
        </div>
      </div>
      <form>
        <div class="text-center">
          <button pButton pRipple [label]="translate('SAVE')" icon="pi pi-check" (click)="save()"></button>
        </div>
      </form>
    </ng-template>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </p-card>
</ng-container>

