<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="LOG_DEV_DIR" value="logs/dev"/>
    <property name="LOG_TEST_DIR" value="logs/test"/>
    <property name="LOG_FILE_NAME" value="app"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="ROLLING_DEV_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DEV_DIR}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DEV_DIR}/archived/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
            <maxHistory>500</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_TEST_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_TEST_DIR}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_TEST_DIR}/archived/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
            <maxHistory>500</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_DEV_APPENDER"/>
        </root>
        <logger name="ua.com.alevel" level="DEBUG"/>
        <logger name="org.hibernate" level="DEBUG"/>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_TEST_APPENDER"/>
        </root>
        <logger name="ua.com.alevel" level="DEBUG"/>
        <logger name="org.hibernate" level="DEBUG"/>
    </springProfile>

</configuration>
