<ng-container *transloco="let translate">
  <p-card class="lms-edit-form">
    <p-toast></p-toast>
    <p-progressSpinner class="loader" *ngIf="isLoading; else loaded"></p-progressSpinner>
    <ng-template #loaded>
      <div class="p-grid">
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="username" type="text" class="input-style" pInputText [(ngModel)]="tutor.username">
            <label for="username">{{translate('tutor.username')}}</label>
          </span>
        </div>
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="first-name-input" type="text" class="input-style" pInputText [(ngModel)]="tutor.firstName">
            <label for="first-name-input">{{translate('tutor.firstName')}}</label>
          </span>
        </div>
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="last-name-input" type="text" class="input-style" pInputText [(ngModel)]="tutor.lastName">
            <label for="last-name-input">{{translate('tutor.lastName')}}</label>
          </span>
        </div>
        <div class="p-col-6 col-format">
          <span class="p-float-label display-label box">
            <input id="email" type="text" class="input-style" pInputText [(ngModel)]="tutor.email">
            <label for="email">{{translate('tutor.email')}}</label>
          </span>
        </div>
        <div>
          <label for="gender">{{translate('tutor.gender')}}</label>
          <p-selectButton id="gender" [options]="genderTypeForSelect" [(ngModel)]="tutor.gender"
                          optionLabel="name" optionValue="code"></p-selectButton>
        </div>
        <div>
          <label for="status">{{translate('tutor.status')}}</label>
          <p-selectButton id="status" [options]="statusForSelect" [(ngModel)]="tutor.status"
                          optionLabel="name" optionValue="code"></p-selectButton>
        </div>
        <div class="checkbox">
          <label style="margin: unset; padding-right: 1rem;" for="activated">{{translate('tutor.activated')}}</label>
          <p-checkbox id="activated" [(ngModel)]="tutor.activated" [binary]="true"></p-checkbox>
        </div>
        <div class="p-col-6 col-format">
          <p-multiSelect
            appendTo="body"
            [options]="subjectsForSelect"
            [(ngModel)]="selectedSubjectUuids"
            [defaultLabel]="translate('tutor.subjects')"
            optionLabel="name"
            optionValue="code">
          </p-multiSelect>
        </div>
        <span class="p-float-label display-label">
          <p>{{translate('tutor.birthDay')}}</p>
          <p-calendar
            [showButtonBar]="true"
            appendTo="body"
            [(ngModel)]="birthDay"
            dateFormat="dd-mm-yy"
            [showIcon]="true">
          </p-calendar>
        </span>
      </div>

      <form>
        <div class="text-center">
          <button pButton pRipple [label]="translate('SAVE')" icon="pi pi-check" (click)="save()"></button>
        </div>
      </form>
    </ng-template>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </p-card>
</ng-container>

