mat-toolbar {
  background: #7f7fff;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #b2b2ff;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mdb-icon {
    margin-right: 8px;
  }
}

mat-divider {

  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

::ng-deep .p-panelmenu {
  font-size: 0.9rem !important;

  .p-panelmenu-header-link {
    font-size: 0.9rem !important;
    background: #9999ff !important;
    padding: 0.5rem 0.5rem !important;
  }

  .p-menuitem-link {
    padding: 0.5rem 0.5rem !important;
    background: #b7b7ff !important;
    padding-left: 25px !important;
  }

  .p-panelmenu-content {
    background: #b7b7ff !important;
  }
}

.register-btn {
  justify-content: flex-end;

  .p-button {
    font-size: 0.9rem !important;
    padding: 0.3rem 0.2rem !important;
    margin: 0 10px;
  }
}

.lang-select ::ng-deep .p-dropdown {

  .p-inputtext, .p-dropdown-item, .p-dropdown-panel {
    color: white !important;
    font-size: 0.9rem !important;
    padding: 0.7px !important;
    background: #673AB7;
  }

  .p-dropdown-trigger {
    padding-left: 0.5px !important;
    padding-right: 0.2px !important;
    background: #673AB7;
    color: white !important;
  }
}
.login {
  margin: 2rem 35rem;
}
