html, body {
  height: 100%;
}

body {
  background: #e2e2ff;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-card .p-card-content {

  padding: 1rem 2rem 2rem 2rem;
  font-size: 0.9rem !important;

  .p-component {
    font-size: unset;
  }
}

.table-button-bar {

  .p-button {
    font-size: 0.64rem;
  }

  .md-form {
    width: Calc(50% - 12px);
    margin: 0.5rem auto;
  }
}

.sign-in-up {
  background: rgba(183, 183, 255, 0.58);
  padding: 25px;
  border-radius: 3px;
}
